proto-plus==1.19.6  # google-ads 16.0.0 support
protobuf==3.20.0    # google-ads 16.0.0 support
Jinja2<3.0          # flask 1.1.4 support
click<8.0           # flask 1.1.4 support
MarkupSafe==2.0.1   # Markupsafe dep error
attrs<21.0          # apache-airflow 2.3.2 support
cattrs~=1.1         # apache-airflow 2.3.2 support
sqlalchemy<1.4.10   # apache-airflow 2.3.2 support
pyarrow<7.0         # sqlalchemy-bigquery 1.4.4 support
mysql-connector-python<=8.0.18  # mysqldb fix
mysqlclient==1.3.14  # mysqldb fix
apache-airflow-providers-google~=7.0.0 # google_cloud_storage_connection
apache-airflow-providers-mysql # mysql connection
apache-airflow-providers-postgres # postgres connection